<!DOCTYPE>
<html>
<head>
  <title>{{ 'site.general.title'|trans }}</title>

  <!-- TODO site specific metadata -->

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ asset('static/css/app.css') }}">
</head>

<body>
  <div id="app">
    <example>
      <div class="preloader">LOADING</div>
    </example>
  </div>

  <!-- scripts -->
  <script src="{{ asset('static/js/app.js') }}"></script>
</body>
</html>
